<!DOCTYPE html>
<html class="calcul" lang="">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="app.css" />
    <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
    <title>Enigma</title>
</head>
    <body>
        <main>
            <div class="vie" style="margin-left: 45%; margin-top: 0%;" id="viesContainer"></div>
            <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
            <div class="row">
                <div class="card-body">
                    <div class="table-cell" style="width: 100%;">
                        <p>Résolver les calculs pour trouver le premier indice du code. La réponse suivra dans la foulée.<p>
                    </div>
                    <div class="table-cell">
                        <h3>Calcul</h3>
                    </div>
                    <div class="table-cell">
                        <li style="margin-bottom: 3%;" th:each="calcul : ${allCalcul}">
                            <span th:text="${calcul.place + ')'}"></span>
                            <span th:text="${calcul.formule}"></span>
                        </li>
                    </div>                    
                </div>
                <form id="calculForm" style="display: flex; flex-direction: column; align-items: center; margin-left: 20%; margin-top: 30%; width: 40%;" th:object="${bloc}">
                    <div style="display: none;">
                        <input type="hidden" name="blocId" th:value="${bloc.idBloc}" />
                    </div>
                        <input  type="text" name="inputSolution" placeholder="Entrez la solution" />
                    <button style="margin-left: 0%;" type="submit">Soumettre</button>
                    <div id="message"></div>
                </form>
            </div>
        <div class="row" style="margin-top: 5%;">
            <a th:href="@{/charade}"><button>Enigme précedente</button></a>
            <a th:href="@{/}"><button>Accueil</button></a>
            <a th:href="@{/departement}"><button id="btn" style="display: none;">Enigme suivante</button></a>
        </div>
    </main>
</body>
<script>
    $(document).ready(function() {
        var idUser = $('input[name="idUser"]').val();

        $.get('/nombreDeVies', { idUser: idUser }, function(response) {
            generateVies(response);
        });

        function generateVies(totalVies) {
            var viesContainer = $('#viesContainer');
            for (var i = 1; i <= totalVies; i++) {
                var imgSrc = '/img/Vie.png';
                var img = $('<img/>', { id: 'vie_' + i, src: imgSrc });
                viesContainer.append(img);
            }
            for (var j = totalVies + 1; j <= 5; j++) {
                imgSrc = '/img/VieBrise.png';
                img = $('<img/>', { id: 'vie_' + j, src: imgSrc });
                viesContainer.append(img);
            }
        }
    });
    $(document).ready(function() {
        var idUser = $('input[name="idUser"]').val();
        $('#calculForm').submit(function (event) {
            event.preventDefault();
            var blocId = $('input[name="blocId"]').val();
            var inputSolution =$('input[name="inputSolution"]').val();
            inputSolution = removeSpecialChars(inputSolution.trim());
            $.ajax({
                type: 'POST',
                url: '/checkSolutionCalcul',
                data: {inputSolution: inputSolution, blocId: blocId,idUser: idUser},
                success: function (response) {
                    if (response === "ok"){
                        $('#message').text("Bonne réponse !");
                        $('#btn').css('display', 'block');
                        $.ajax({
                            type: 'POST',
                            url: '/gainNiveau',
                            data: { idUser: idUser }
                        });
                    }else if(response === "ko"){
                        $('#message').text("Mauvaise réponse. Essayez à nouveau.");
                        $('#btn').css('display', 'none');
                        perdreUneVie();
                    }else{
                        window.location.href = response;
                    }
                }
            });
        });
    });
    function perdreUneVie() {
        var idUser = $('input[name="idUser"]').val();
        $.ajax({
            type: 'POST',
            url: '/perdreVie',
            data: { idUser: idUser },
            success: function (response) {
                if (response === "success") {
                    actualiserVies();
                }
            }
        });
    }
    function actualiserVies() {
        var idUser = $('input[name="idUser"]').val();
        $.get('/nombreDeVies', { idUser: idUser }, function (response) {
            for (var i = 1; i <= response; i++) {
                var img = document.getElementById('vie_' + i);
                img.src = '/img/Vie.png';
            }
            for (var j = response +1; j <= 5; j++) {
                var imgVide = document.getElementById('vie_' + j);
                imgVide.src = '/img/VieBrise.png';
            }
        });
    }
    function removeSpecialChars(text) {
        return text.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/-/g, '');
    }
</script>
</html>
