<!DOCTYPE html>
<html class="charade" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="icon" type="image/png" href="/img/noun-enigma-1875558.png"/>
    <title>Enigma</title>
</head>
<body>
<main>
    <div class="vie" style="margin-left: 35%; margin-bottom: 4%; margin-top: -7%;" id="viesContainer"></div>
    <div class="row" style="margin-top: 0%;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="https://www.fan-fortboyard.fr/medias/images/fort-boyard-personnages-passe-partout-2015-01.jpg?fx=c_450_314" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Charade n°1</h5>
                    <p class="card-text" th:utext="${charade1.charade}"></p>
                    <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
                </div>
                <div>
                    <form id="charadeForm1" th:object="${charade1}">
                        <input type="hidden" name="charadeId1" th:value="${charade1.idCharade}" />
                        <input type="text" name="inputSolution1" placeholder="Entrez la solution" />
                        <button type="submit">Soumettre</button>
                    </form>
                    <div id="message1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="https://static.choualbox.com/Img/1598719528342.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Charade n°2</h5>
                    <p class="card-text" th:utext="${charade2.charade}"></p>
                </div>
                <div>
                    <form id="charadeForm2" th:object="${charade2}">
                        <input type="hidden" name="charadeId2" th:value="${charade2.idCharade}" />
                        <input type="text" name="inputSolution2" placeholder="Entrez la solution" />
                        <button type="submit">Soumettre</button>
                    </form>
                    <div id="message2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="https://s1.dmcdn.net/v/Tc0gg1YI_ZcJOBlEK/x1080" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Charade n°3</h5>
                    <p class="card-text" th:utext="${charade3.charade}"></p>
                </div>
                <div>
                    <form id="charadeForm3" th:object="${charade3}">
                        <input type="hidden" name="charadeId3" th:value="${charade3.idCharade}" />
                        <input type="text" name="inputSolution3" placeholder="Entrez la solution" />
                        <button type="submit">Soumettre</button>
                    </form>
                    <div id="message3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5%;">
        <a th:href="@{/}"><button>Accueil</button></a>
        <a th:href="@{/calcul}"><button id="btn" style="display: none;">Enigme suivante</button></a>
    </div>
</main>
</body>
<script>
    $(document).ready(function() {
        var idUser = $('input[name="idUser"]').val();

        $.get('/nombreDeVies', { idUser: idUser }, function(response) {
            generateVies(response);
        });

        function generateVies(totalVies) {
            var viesContainer = $('#viesContainer');
            for (var i = 1; i <= totalVies; i++) {
                var imgSrc = '/img/Vie.png';
                var img = $('<img/>', { id: 'vie_' + i, src: imgSrc });
                viesContainer.append(img);
            }
            for (var j = totalVies + 1; j <= 5; j++) {
                var imgSrc = '/img/VieBrise.png';
                var img = $('<img/>', { id: 'vie_' + j, src: imgSrc });
                viesContainer.append(img);
            }
        }
    });

    $(document).ready(function() {
        var solution1 = false;
        var solution2 = false;
        var solution3 = false;
        var idUser = $('input[name="idUser"]').val();
        $('#charadeForm1').submit(function(event) {
            event.preventDefault();
            var inputSolution1 = $('input[name="inputSolution1"]').val();
            var charadeId1 = $('input[name="charadeId1"]').val();
            inputSolution1 = removeSpecialChars(inputSolution1.trim().toUpperCase());
            $.ajax({
                type: 'POST',
                url: '/checkSolution',
                data: { inputSolution: inputSolution1, charadeId: charadeId1,idUser: idUser },
                success: function(response) {
                    if (response === "ok") {
                        solution1 = true;
                        $('#message1').text("Bonne réponse !");
                        if (solution3 && solution2) {
                            $('#btn').css('display', 'block');
                            $.ajax({
                                type: 'POST',
                                url: '/gainNiveau',
                                data: { idUser: idUser }
                            });
                        }
                    } else if(response === "ko"){
                        solution1 = false;
                        $('#message1').text("Mauvaise réponse. Essayez à nouveau.");
                        $('#btn').css('display', 'none');
                        perdreUneVie();
                    } else{
                        window.location.href = response;
                    }
                }
            });
        });
        $('#charadeForm2').submit(function(event) {
            event.preventDefault();
            var inputSolution2 = $('input[name="inputSolution2"]').val();
            var charadeId2 = $('input[name="charadeId2"]').val();
            inputSolution2 = removeSpecialChars(inputSolution2.trim().toUpperCase());
            $.ajax({
                type: 'POST',
                url: '/checkSolution',
                data: { inputSolution: inputSolution2, charadeId: charadeId2,idUser: idUser },
                success: function(response) {
                    if (response === "ok") {
                        solution2 = true;
                        $('#message2').text("Bonne réponse !");
                        if (solution1 && solution3) {
                            $('#btn').css('display', 'block');
                            $.ajax({
                                type: 'POST',
                                url: '/gainNiveau',
                                data: { idUser: idUser }
                            });
                        }
                    } else if(response ==="ko") {
                        solution2 = false;
                        $('#message2').text("Mauvaise réponse. Essayez à nouveau.");
                        $('#btn').css('display', 'none');
                        perdreUneVie();
                    } else {
                        window.location.href = response;
                    }
                }
            });
        });
        $('#charadeForm3').submit(function(event) {
            event.preventDefault();
            var inputSolution3 = $('input[name="inputSolution3"]').val();
            var charadeId3 = $('input[name="charadeId3"]').val();
            inputSolution3 = removeSpecialChars(inputSolution3.trim().toUpperCase());
            $.ajax({
                type: 'POST',
                url: '/checkSolution',
                data: { inputSolution: inputSolution3, charadeId: charadeId3, idUser:idUser},
                success: function(response) {
                    if (response === "ok") {
                        solution3 = true;
                        $('#message3').text("Bonne réponse !");
                        if (solution1 && solution2) {
                            $('#btn').css('display', 'block');
                            $.ajax({
                               type: 'POST',
                               url: '/gainNiveau',
                               data: { idUser: idUser }
                            });
                        }
                    } else if(response === "ko"){
                        solution3 = false;
                        $('#message3').text("Mauvaise réponse. Essayez à nouveau.");
                        $('#btn').css('display', 'none');
                        perdreUneVie();
                    }else{
                        window.location.href = response;
                    }
                }
            });
        });
    });
    function perdreUneVie() {
        var idUser = $('input[name="idUser"]').val();
        $.ajax({
            type: 'POST',
            url: '/perdreVie',
            data: { idUser: idUser },
            success: function (response) {
                if (response === "success") {
                    actualiserVies();
                }
            }
        });
    }
    function actualiserVies() {
        var idUser = $('input[name="idUser"]').val();
        $.get('/nombreDeVies', { idUser: idUser }, function (response) {
            for (var i = 1; i <= response; i++) {
                var img = document.getElementById('vie_' + i);
                img.src = '/img/Vie.png';
            }
            for (var j = response +1; j <= 5; j++) {
                var imgVide = document.getElementById('vie_' + j);
                imgVide.src = '/img/VieBrise.png';
            }
        });
    }
    function removeSpecialChars(text) {
        return text.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/-/g, '');
    }
</script>
</html>
