<!DOCTYPE html>
<html class="forme">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="app.css" />
        <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div id="viesContainer"></div>
            <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
            <div class="card" style="align-items: center;">
                <h1 id="0">Le jeu des symboles</h1>
                <h3 id="1">Pour la dernières épreuves des formes de couleurs différentes sont cachés a travers tous le site.</h3>
                <p id="2">Recherche sur le site le nombre d'apparition de la forme ci dessous et inscrivez la bonne réponse.</p>
                <img th:src="${forme.image}" style="width: 75px; height: 50px;">
                <form id="formeForm" th:object="${forme}">
                    <input type="hidden" name="formeId" th:value="${forme.idForme}" />
                    <input type="text" name="inputSolution" placeholder="Entrez la solution" />
                    <button type="submit">Vérifier</button>
                </form>
                <div id="message"></div>
            </div>
            <div class="row" style="margin-top:5%;">
                <a th:href="@{/geoguesser}"><button>Enigme précedente</button></a>
                <a th:href="@{/}"><button>Accueil</button></a>
                <a th:href="@{/remerciement}"><button id="btn" style="display: none;">Remerciement</button></a>
            </div> 
        </main>
    </body>
    <script>
        $(document).ready(function() {
            var idUser = $('input[name="idUser"]').val();

            $.get('/nombreDeVies', { idUser: idUser }, function(response) {
                generateVies(response);
            });

            function generateVies(totalVies) {
                var viesContainer = $('#viesContainer');
                for (var i = 1; i <= totalVies; i++) {
                    var imgSrc = '/img/Vie.png';
                    var img = $('<img/>', { id: 'vie_' + i, src: imgSrc });
                    viesContainer.append(img);
                }
                for (var j = totalVies + 1; j <= 5; j++) {
                    var imgSrc = '/img/VieBrise.png';
                    var img = $('<img/>', { id: 'vie_' + j, src: imgSrc });
                    viesContainer.append(img);
                }
            }
        });
        $(document).ready(function() {
            $('#formeForm').submit(function (event) {
                event.preventDefault();
                var inputSolution = $('input[name="inputSolution"]').val();
                var formeId = $('input[name="formeId"]').val();
                inputSolution = inputSolution.trim();
                var idUser = $('input[name="idUser"]').val();
                $.ajax({
                    type: 'POST',
                    url: '/checkSolutionForme',
                    data: {inputSolution: inputSolution, formeId: formeId,idUser:idUser},
                    success: function (response) {
                        if (response === "ok"){
                            $('#message').text("Bonne réponse !");
                            $('#btn').css('display', 'block');
                            $.ajax({
                                type: 'POST',
                                url: '/gainNiveau',
                                data: { idUser: idUser }
                            });
                        }else if(response === "ko"){
                            $('#message').text("Mauvaise réponse. Essayez à nouveau.");
                            $('#btn').css('display', 'none');
                            perdreUneVie();
                        }else{
                            window.location.href = response;
                        }
                    }
                });
            });
        });
        function perdreUneVie() {
            var idUser = $('input[name="idUser"]').val();
            $.ajax({
                type: 'POST',
                url: '/perdreVie',
                data: { idUser: idUser },
                success: function (response) {
                    if (response === "success") {
                        actualiserVies();
                    }
                }
            });
        }
        function actualiserVies() {
            var idUser = $('input[name="idUser"]').val();
            $.get('/nombreDeVies', { idUser: idUser }, function (response) {
                for (var i = 1; i <= response; i++) {
                    var img = document.getElementById('vie_' + i);
                    img.src = '/img/Vie.png';
                }
                for (var j = response +1; j <= 5; j++) {
                    var imgVide = document.getElementById('vie_' + j);
                    imgVide.src = '/img/VieBrise.png';
                }
            });
        }
    </script>
</html>
