<!DOCTYPE html>
<html class="geoguesser">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="app.css" />
        <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div class="vie" style="margin-left: 45%; margin-bottom: 3%; margin-top: 0%;" id="viesContainer"></div>
            <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height: 80%;">
                        <img th:src="${pays1.getGeoguesser()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pays n°1</h5>
                            <form id="geoguesserForm1" th:object="${pays1}">
                                <input type="hidden" name="paysId1" th:value="${pays1.getIdPays()}" />
                                <input type="text" id="inputSolution1" name="inputSolution1" placeholder="Entrez votre réponse"/>
                                <button type="submit">Soumettre</button>
                            </form>
                            <div id="message1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height: 80%;">
                        <img th:src="${pays2.getGeoguesser()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pays n°2</h5>
                            <form id="geoguesserForm2" th:object="${pays2}">
                                <input type="hidden" name="paysId2" th:value="${pays2.getIdPays()}" />
                                <input type="text" id="inputSolution2" name="inputSolution2" placeholder="Entrez votre réponse"/>
                                <button>Soumettre</button>
                            </form>
                            <div id="message2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height: 80%;">
                        <img th:src="${pays3.getGeoguesser()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pays n°3</h5>
                            <form id="geoguesserForm3" th:object="${pays3}">
                                <input type="hidden" name="paysId3" th:value="${pays3.getIdPays()}" />
                                <input type="text" id="inputSolution3" name="inputSolution3" placeholder="Entrez votre réponse"/>
                                <button>Soumettre</button>
                            </form>
                            <div id="message3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5%;">
                <a th:href="@{/simon}"><button>Enigme précedente</button></a>
                <a th:href="@{/forme}"><button id="btn" style="display: none;">Enigme suivante</button></a>
            </div>
        </main>
    </body>
    <script>
        $(document).ready(function() {
            var idUser = $('input[name="idUser"]').val();

            $.get('/nombreDeVies', { idUser: idUser }, function(response) {
                generateVies(response);
            });

            function generateVies(totalVies) {
                var viesContainer = $('#viesContainer');
                for (var i = 1; i <= totalVies; i++) {
                    var imgSrc = '/img/Vie.png';
                    var img = $('<img/>', { id: 'vie_' + i, src: imgSrc });
                    viesContainer.append(img);
                }
                for (var j = totalVies + 1; j <= 5; j++) {
                    var imgSrc = '/img/VieBrise.png';
                    var img = $('<img/>', { id: 'vie_' + j, src: imgSrc });
                    viesContainer.append(img);
                }
            }
        });
        $(document).ready(function() {
            var solution1 = false;
            var solution2 = false;
            var solution3 = false;
            var idUser = $('input[name="idUser"]').val();
            $('#geoguesserForm1').submit(function(event) {
                event.preventDefault();
                var inputSolution1 = $('input[name="inputSolution1"]').val();
                var paysId1 = $('input[name="paysId1"]').val();
                inputSolution1 = removeSpecialChars(inputSolution1.trim().toUpperCase());
                $.ajax({
                    type: 'POST',
                    url: '/checkPays',
                    data: { inputSolution: inputSolution1, paysId: paysId1, idUser:idUser },
                    success: function(response) {
                        if (response === "ok") {
                            solution1 = true;
                            $('#message1').text("Bonne réponse !");
                            if (solution3 && solution2) {
                                $('#btn').css('display', 'block');
                                $.ajax({
                                    type: 'POST',
                                    url: '/gainNiveau',
                                    data: { idUser: idUser }
                                });
                            }
                        } else if(response === "ko"){
                            solution1 = false;
                            $('#message1').text("Mauvaise réponse. Essayez à nouveau.");
                            $('#btn').css('display', 'none');
                            perdreUneVie();
                        }else{
                            window.location.href = response;
                        }
                    }
                });
            });
            $('#geoguesserForm2').submit(function(event) {
                event.preventDefault();
                var inputSolution2 = $('input[name="inputSolution2"]').val();
                var paysId2 = $('input[name="paysId2"]').val();
                inputSolution2 = removeSpecialChars(inputSolution2.trim().toUpperCase());
                $.ajax({
                    type: 'POST',
                    url: '/checkPays',
                    data: { inputSolution: inputSolution2, paysId: paysId2, idUser:idUser },
                    success: function(response) {
                        if (response === "ok") {
                            solution2 = true;
                            $('#message2').text("Bonne réponse !");
                            if (solution1 && solution3) {
                                $('#btn').css('display', 'block');
                                $.ajax({
                                    type: 'POST',
                                    url: '/gainNiveau',
                                    data: { idUser: idUser }
                                });
                            }
                        } else if(response === "ko") {
                            solution2 = false;
                            $('#message2').text("Mauvaise réponse. Essayez à nouveau.");
                            $('#btn').css('display', 'none');
                            perdreUneVie();
                        }else {
                            window.location.href = response;
                        }
                    }
                });
            });
            $('#geoguesserForm3').submit(function(event) {
                event.preventDefault();
                var inputSolution3 = $('input[name="inputSolution3"]').val();
                var paysId3 = $('input[name="paysId3"]').val();
                inputSolution3 = removeSpecialChars(inputSolution3.trim().toUpperCase());
                $.ajax({
                    type: 'POST',
                    url: '/checkPays',
                    data: { inputSolution: inputSolution3, paysId: paysId3, idUser:idUser },
                    success: function(response) {
                        if (response === "ok") {
                            solution3 = true;
                            $('#message3').text("Bonne réponse !");
                            if (solution1 && solution2) {
                                $('#btn').css('display', 'block')
                                $.ajax({
                                    type: 'POST',
                                    url: '/gainNiveau',
                                    data: { idUser: idUser }
                                });
                            }
                        } else if (response ==="ko"){
                            solution3 = false;
                            $('#message3').text("Mauvaise réponse. Essayez à nouveau.");
                            $('#btn').css('display', 'none');
                            perdreUneVie();
                        }else{
                            window.location.href = response;
                        }
                    }
                });
            });
        });
        function perdreUneVie() {
            var idUser = $('input[name="idUser"]').val();
            $.ajax({
                type: 'POST',
                url: '/perdreVie',
                data: { idUser: idUser },
                success: function (response) {
                    if (response === "success") {
                        actualiserVies();
                    }
                }
            });
        }
        function actualiserVies() {
            var idUser = $('input[name="idUser"]').val();
            $.get('/nombreDeVies', { idUser: idUser }, function (response) {
                for (var i = 1; i <= response; i++) {
                    var img = document.getElementById('vie_' + i);
                    img.src = '/img/Vie.png';
                }
                for (var j = response +1; j <= 5; j++) {
                    var imgVide = document.getElementById('vie_' + j);
                    imgVide.src = '/img/VieBrise.png';
                }
            });
        }
        function removeSpecialChars(text) {
            return text.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/-/g, '');
        }
    </script>
</html>
