<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/app.css" />
        <link rel="icon" type="image/png" href="/img/noun-enigma-1875558.png"/>
        <script src="/js/index.js"></script>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div class="card" style="max-height: 450px; margin-left: 5%;">
                <div th:if="${connecte}">
                    <h2>Bonjour <span th:text="${utilisateur.prenom}"></span> <span th:text="${utilisateur.nom}"></span> !</h2>
                </div>
                <h1 id="0" >Enigma</h1>
                <h3 id="1">Bienvenue sur le site aux 1001 énigmes</h3>
                <p id="2">Après avoir clique sur le bouton "Commencer", cela vous lancera un énigme.</p>
                <p id="3">L'objectif est de résoudre les 7 énigmes.</p>
                <form id="formDebut" th:object="${utilisateur}">
                    <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
                    <button style="margin-bottom: 3%;" type="submit" id="btn">Commencer</button>
                </form>
                <div th:if="${connecte}">
                    <a th:href="@{/logout}"><button>Déconnexion</button></a>
                </div>
                <div class="card-footer" style="display: flex; justify-content: space-between;">
                    <p>Crée par Rémi Depreter, Ugo Latry et Raphaël Jeanningros</p>
                    <p style="cursor:help;" onclick="change()">Règles</p>
                </div>        
            </div>
            <div class="card1 box" id="rules" style="visibility: hidden;">
                <div>
                    <button class="menu__icon" style="min-width: 0%;" onclick="change()"></button>
                    <h2 style="margin-top: 6%;">Règles</h2>
                </div>
                <p>Lorem ipsum dolor sit amet. Sit architecto dolores vel magni numquam est ullam soluta est nesciunt repudiandae sed natus tempore est architecto quisquam sit quas nesciunt. Ea officiis quia sed temporibus sapiente At dicta officiis a repellendus nemo. Id expedita provident non quos rerum At tenetur tenetur et obcaecati repellendus eum exercitationem magnam non iusto quidem ut Quis porro.</p>
            </div>
            <div class="row" style="margin-top: 30%; margin-left: 0%;" id="boutons">
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 1}">
                    <a th:href="@{'/charade'}"><button style="margin-left: 0%;">Charade</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 2}">
                    <a th:href="@{'/calcul'}"><button style="margin-left: 0%;">Calcul</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 3}">
                    <a th:href="@{'/departement'}"><button style="margin-left: 0%;">Departement</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 4}">
                    <a th:href="@{'/poeme'}"><button style="margin-left: 0%;">Poeme</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 5}">
                    <a th:href="@{'/pays'}"><button style="margin-left: 0%;">Pays</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 6}">
                    <a th:href="@{'/simon'}"><button style="margin-left: 0%;">Simon</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 7}">
                    <a th:href="@{'/geoguesser'}"><button style="margin-left: 0%;">Geoguesser</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 8}">
                    <a th:href="@{'/forme'}"><button style="margin-left: 0%;">Forme</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 9}">
                    <a th:href="@{'/remerciement'}"><button style="margin-left: 0%;">Remerciements</button></a>
                </div>
            </div>

        </main>
    </body>
    <script>
        document.querySelector(".card").addEventListener("mouseover",(e)=>{
            magic()
        })

        $(document).ready(function() {
            $('#formDebut').submit(function (event) {
                event.preventDefault();
                var idUser = $('input[name="idUser"]').val();
                $.ajax({
                    type: 'POST',
                    url: '/vieDebut',
                    data: {idUser:idUser},
                    success: function () {
                            window.location.href = '/charade'
                    }
                });
            });
        });
    </script>
</html>

