<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/app.css" />
        <link rel="icon" type="image/png" href="/img/noun-enigma-1875558.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <script src="/js/index.js"></script>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div class="card">
                <div th:if="${connecte}">
                    <h2>Bonjour <span th:text="${utilisateur.prenom}"></span> <span th:text="${utilisateur.nom}"></span> !</h2>

                </div>
                <h1 id="0" >Enigma</h1>
                <h3 id="1">Bienvenue sur le site aux 1001 énigmes</h3>
                <p id="2">Après avoir clique sur le bouton "Commencer", cela vous lancera un énigme.</p>
                <p id="3">L'objectif est de résoudre les 7 énigmes.</p>
                <a th:href="@{/charade}"><button id="4">Commencer</button></a>
                <div th:if="${connecte}">
                    <a th:href="@{/logout}"><button>Déconnexion</button></a>
                </div>
                <div class="card-footer" style="display: flex; justify-content: space-between;">
                    <p>Crée par Rémi Depreter, Ugo Latry et Raphaël Jeanningros</p>
                    <p style="cursor:help;" onclick="change()">Règles</p>
                </div>        
            </div>
            <div class="card1 box" id="rules" style="visibility: hidden;">
                <div>
                    <button class="menu__icon" style="min-width: 0%;" onclick="change()"></button>
                    <h2 style="margin-top: 6%;">Règles</h2>
                </div>
                <p>Lorem ipsum dolor sit amet. Sit architecto dolores vel magni numquam est ullam soluta est nesciunt repudiandae sed natus tempore est architecto quisquam sit quas nesciunt. Ea officiis quia sed temporibus sapiente At dicta officiis a repellendus nemo. Id expedita provident non quos rerum At tenetur tenetur et obcaecati repellendus eum exercitationem magnam non iusto quidem ut Quis porro.</p>
            </div>
            <div class="card1 box" id="account" style="display: none; margin-top: -94%;">
                <div>
                    <button class="menu__icon" style="min-width: 0%; margin-top: 0%;" onclick="changeC()"></button>
                    <h2 style="margin-top: 6%;">Connexion</h2>
                </div>
                <input type="text" style="margin: 3%;" name="username" placeholder="Entrez votre identifiant" />
                <input type="text" style="margin: 3%;" name="password" placeholder="Entrez votre mot de passe" />
                <div class="card-footer" style="display: flex; justify-content: end;">
                    <p onclick="changeA()">Creer un compte</p>
                </div>
            </div>
            <div class="card1 box" id="creation" style="display: none; margin-top: -94%;">
                <div>
                    <button class="menu__icon" style="min-width: 0%; margin-top: 0%;" onclick="changeA()"></button>
                    <h2 style="margin-top: 6%;">Création de compte</h2>
                </div>
                <input type="text" style="margin: 3%;" name="username" placeholder="Entrez votre identifiant" />
                <input type="text" style="margin: 3%;" name="password" placeholder="Entrez votre mot de passe" />
                <input type="text" style="margin: 3%;" name="passwordConf" placeholder="Confirmez votre mot de passe" />
            </div>
        </main>
    </body>
    <script>
        document.querySelector(".card").addEventListener("mouseover",(e)=>{
            magic()
        })
    </script>
</html>

