<!DOCTYPE html>
<html class="html" lang="">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/app.css" />
        <link rel="icon" type="image/png" href="/img/noun-enigma-1875558.png"/>
        <script src="/js/index.js"></script>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div class="card" style="max-height: 500px;">
                <div th:if="${connecte}">
                    <h2>Bonjour <span th:text="${utilisateur.prenom}"></span> <span th:text="${utilisateur.nom}"></span> !</h2>
                </div>
                <h1 id="0" >Enigma</h1>
                <h3 id="1">Bienvenue sur le site aux 1001 énigmes</h3>
                <p id="2">Après avoir clique sur le bouton "Commencer", cela vous lancera un énigme.</p>
                <p id="3">L'objectif est de résoudre les 7 énigmes.</p>
                <form id="formDebut" th:object="${utilisateur}">
                    <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
                    <button style="margin-bottom: 3%;" type="submit" id="btn">Commencer</button>
                </form>
                <div th:if="${connecte}">
                    <a th:href="@{/logout}"><button style="margin-bottom: 3%;">Déconnexion</button></a>
                    <button id="deleteCompte" style="margin-left: 29%;">Supprimer mon compte</button>
                </div>
                <div class="card-footer" style="display: flex; justify-content: space-between;">
                    <p>Crée par Rémi Depreter, Ugo Latry et Raphaël Jeanningros</p>
                    <p style="cursor:help;" onclick="change()">Règles</p>
                </div>        
            </div>
            <div class="row" style="width: 100%; margin-left: 0%; margin-top: 3%;" id="boutons">
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 1}">

                    <a th:href="@{'/charade'}"><button style="margin-left: 0%;"><img src="img/bouton/charade.png" alt="" class="icone">Charade</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 2}">
                    <a th:href="@{'/calcul'}"><button style="margin-left: 0%;"><img src="img/bouton/calcul.png" alt="" class="icone">Calcul</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 3}">
                    <a th:href="@{'/departement'}"><button style="margin-left: 0%;"><img src="img/bouton/departement.png" alt="" class="icone">Departement</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 4}">
                    <a th:href="@{'/poeme'}"><button style="margin-left: 0%;"><img src="img/bouton/poeme.png" alt="" class="icone">Poeme</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 5}">
                    <a th:href="@{'/pays'}"><button style="margin-left: 0%;"><img src="img/bouton/pays.png" alt="" class="icone">Pays</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 6}">
                    <a th:href="@{'/simon'}"><button style="margin-left: 0%;"><img src="img/bouton/simon.png" alt="" class="icone">Simon</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 7}">
                    <a th:href="@{'/geoguesser'}"><button style="margin-left: 0%;"><img src="img/bouton/geoguesser.png" alt="" class="icone">Geoguesser</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 8}">
                    <a th:href="@{'/forme'}"><button style="margin-left: 0%;"><img src="img/bouton/forme.png" alt="" class="icone">Forme</button></a>
                </div>
                <div style="margin-right: 5%;" th:if="${utilisateur.niveau >= 9}">
                    <a th:href="@{'/remerciement'}"><button style="margin-left: 0%;"><img src="img/bouton/remerciement.png" alt="" class="icone">Remerciements</button></a>
                </div>
            </div>
            <div class="card1 box" id="rules" style="visibility: hidden;">
                <div>
                    <button class="menu__icon" style="min-width: 0%;" onclick="change()"></button>
                    <h2 style="margin-top: 6%;">Règles</h2>
                </div>
                <p>Il y a 7 énigmes.</p>
                <p>Vous avez 5 vies.</p>
                <p>A chaque mauvaises réponses, vous perdez une vie.</p>
                <p>Si vous perdez toutes vos vies, vous recommencez les énigmes de zéros.</p>
                <p>Après avoir réussi une énigme, vous gagnez un niveau ce qui vous permet a partir de l'accueil de vous balader a travers le site.</p>
            </div>

        </main>
    </body>
    <script>
        document.querySelector(".card").addEventListener("mouseover",(e)=>{
            magic()
        })

        $(document).ready(function() {
            $('#formDebut').submit(function (event) {
                event.preventDefault();
                var idUser = $('input[name="idUser"]').val();
                $.ajax({
                    type: 'POST',
                    url: '/vieDebut',
                    data: {idUser:idUser},
                    success: function () {
                            window.location.href = '/charade'
                    }
                });
            });
            $('#deleteCompte').click(function (){
                var idUser = $('input[name="idUser"]').val();
                if (confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/deleteCompte',
                        data: { idUser:idUser },
                        success: function(response){
                            window.location.href = response;
                        }
                    });
                }
            });
        });
    </script>
</html>

