    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Enigma</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
    <h2>Se connecter</h2>
    <form th:object="${utilisateur}" method="post" id="loginForm">
        <div class="form-group">
            <label for="email">Adresse email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required="required"/>
        </div>
        <div class="form-group">
            <label for="mdp">Mot de passe:</label>
            <input type="password" class="form-control" id="mdp" th:field="*{mdp}" required="required"/>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <div id="message"></div>
    <a th:href="@{/registration}"><button id="4">Créer un compte</button></a>
    <a th:href="@{/}" id="btn"><button>Accueil</button></a>
    </body>
    <script>
        $(document).ready(function() {
            $('#loginForm').submit(function(event) {
                var email = $('#email').val();
                var mdp = $('#mdp').val();
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/loginSubmit',
                    data: { email: email, mdp: mdp },
                    success: function(response) {
                        if (response === 'success') {
                            window.location.href = '/';
                        } else {
                            $('#message').text("L'adresse mail ou le mot de passe est incorrect.");
                        }
                    }
                });
            });
        });
    </script>
    </html>