<!DOCTYPE html>
<html class="calcul">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="app.css" />
        <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
        <title>Enigma</title>
    </head>
    <script>
        function change() {
            
            var changer = document.getElementById("reponse").value
            var btn = document.getElementById("btn")

            if (changer.toUpperCase()=="TEST") {
                btn.style.visibility = 'visible'
            } else {
                btn.style.visibility = 'hidden'
            }
        }
    </script>
    <body>
        <main style="width: 100%;">
            <div class="row" style="margin-top: -5%;">
                <div class="table1">
                    <div class="table-cell" style="width: 100%;">
                        Un pays est cachée dans chacune des lignes du poèmes suivant. Saurez vous tous les retrouvez ?
                    </div>
                    <div class="table-cell col1">
                        <h3>Poème</h3>
                    </div>
                    <div class="table-cell col2">
                        <h3>Pays</h3>
                    </div>
                    <div class="table-cell col1">
                        <p>Cher Ruel Stroud, malicieux énutrof,</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r1" type="text" placeholder="Entrez le résultat">
                    </div>
                    <div class="table-cell col1">
                        <p>"Il s'en ira, kamas ou pas.", qu'ils me disaient. Je refusais de les croire. "Il</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r2" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>te hait indiciblement, à cause de tout ce que tu lui coûtes." J'étais dévastée.</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r3" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>Pourtant, nous nous aimions à l'envi, et n'amenions que bonheur partout</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r4" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>où nous passions. Ni gérants ni rois n'étaient plus riches que nous, car</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r5" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>notre amour valait tout l'or du Krosmoz. Malgré cette attitude infâme,</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r6" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>j'osais, et j'ose encore, espérer... Tu seras vaincu. Battre en retraite ne</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r7" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>te sauveras plus. Tu as l'air d'un pouilleux; radin que tu es. Pagne, haut,</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r8" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>sandales: voilà vingt-cinq ans qu'il te faut en changer. Ton gain prime sur </p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r8" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                    <div class="table-cell col1">
                        <p>ta vieille Arpagone... Pallier mon déficit sentimental ne t'intéresse pas.</p>
                    </div>
                    <div class="table-cell col2">
                        <input id="r9" type="text" placeholder="Entrez le résultat" onchange="change()">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>