<!DOCTYPE html>
<html class="pays">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="app.css" />
    <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
    <title>Enigma</title>
</head>
<body>
<main>
    <div class="vie" style="margin-left: 45%; margin-top: 7%;" id="viesContainer"></div>
    <input type="hidden" name="idUser" th:value="${utilisateur.getEmail()}" />
    <div class="row" style="margin-top: -5%;">
        <div class="table1">
            <div class="table-cell" style="width: 100%;">
                <p>Vous avez 6 questions pour trouver un pays allant de la plus dure à la plus facile<p>
            </div>
            <div class="table-cell col1">
                <h3>Questions</h3>
            </div>
            <div class="table-cell col2">
                <h3>Réponses</h3>
            </div>
            <div class="table-cell col1" style="max-height: 80px;">
                <p th:if="${pays.getContinent() == 'Europe'}">Le pays est en Europe</p>
                <p th:if="${pays.getContinent() == 'Asie'}">Le pays est en Asie</p>
                <p th:if="${pays.getContinent() == 'Amérique'}">Le pays est en Amérique</p>
                <p th:if="${pays.getContinent() == 'Afrique'}">Le pays est en Afrique</p>
                <p th:if="${pays.getContinent() == 'Océanie'}">Le pays est en Océanie</p>
            </div>
            <div class="table-cell col2" style="max-height: 80px;">
                <input type="hidden" name="paysContinent" th:value="${pays.getContinent()}" />
                <input id="r1" type="text" placeholder="Entrez la réponse">
            </div>
            <div id="q2" style="width: 100%; display: flex; visibility: hidden;">
                <div class="table-cell col1" style="max-height: 80px;">
                    <p th:if="${pays.isFine()}">Le pays se termine par un E</p>
                    <p th:if="${!pays.isFine()}">Le pays ne se termine pas par un E</p>
                </div>
                <div class="table-cell col2" style="max-height: 80px;">
                    <input type="hidden" name="paysFinE" th:value="${pays.isFine()}" />
                    <input id="r2" type="text" placeholder="Entrez la réponse">
                </div>
            </div>
            <div id="q3" style="width: 100%; display: flex; visibility: hidden;">
                <div class="table-cell col1" style="max-height: 80px;">
                    <p th:if="${pays.isLittoral()}">Le pays a un accès à la mer</p>
                    <p th:if="${!pays.isLittoral()}">Le pays ne possède pas de littoral</p>
                </div>
                <div class="table-cell col2" style="max-height: 80px;">
                    <input type="hidden" name="paysLittoral" th:value="${pays.isLittoral()}" />
                    <input id="r3" type="text" placeholder="Entrez la réponse">
                </div>
            </div>
            <div id="q4" style="width: 100%; display: flex; visibility: hidden">
                <div class="table-cell col1">
                    <p th:if="${pays.isPopulationHuitMillions()}">Le pays est habité par au moins 8 millions d'habitants</p>
                    <p th:if="${!pays.isPopulationHuitMillions()}">Le pays est habité par moins de 8 millions d'habitants</p>
                </div>
                <div class="table-cell col2">
                    <input type="hidden" name="paysPopulationHuitMillions" th:value="${pays.isPopulationHuitMillions()}" />
                    <input id="r4" type="text" placeholder="Entrez la réponse">
                </div>
            </div>
            <div id="q5" style="width: 100%; display: flex; visibility: hidden">
                <div class="table-cell col1">
                    <p th:if="${pays.isSurfaceMillion()}">Le pays a une surface supérieure ou égale à 1 million de km²</p>
                    <p th:if="${!pays.isSurfaceMillion()}">Le pays a une surface inférieure à 1 million de km²</p>
                </div>
                <div class="table-cell col2">
                    <input type="hidden" name="paysSurfaceMillion" th:value="${pays.isSurfaceMillion()}" />
                    <input id="r5" type="text" placeholder="Entrez la réponse">
                </div>
            </div>
            <div id="q6" style="width: 100%; display: flex; visibility: hidden">
                <div class="table-cell col1">
                    <p th:utext="${pays.getQuestionUnique()}"></p>
                </div>
                <div class="table-cell col2">
                    <input type="hidden" name="paysQuestionUnique" th:value="${pays.getQuestionUnique()}" />
                    <input id="r6" type="text" placeholder="Entrez la réponse">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="btn" style="margin-top:5%;">
        <a th:href="@{/poeme}"><button>Enigme précedente</button></a>
        <a th:href="@{/simon}"><button id="botn" style="display: none;">Enigme suivante</button></a>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var idUser = $('input[name="idUser"]').val();

        $.get('/nombreDeVies', { idUser: idUser }, function(response) {
            generateVies(response);
            checkVie();
        });

        function generateVies(totalVies) {
            var viesContainer = $('#viesContainer');
            for (var i = 1; i <= totalVies; i++) {
                var imgSrc = '/img/Vie.png';
                var img = $('<img/>', { id: 'vie_' + i, src: imgSrc });
                viesContainer.append(img);
            }
            for (var j = totalVies + 1; j <= 5; j++) {
                var imgSrc = '/img/VieBrise.png';
                var img = $('<img/>', { id: 'vie_' + j, src: imgSrc });
                viesContainer.append(img);
            }
            checkVie();
        }
    });

    function checkVie(){
        var idUser = $('input[name="idUser"]').val();
        $.ajax({
            type: 'POST',
            url: '/checkVie',
            data: { idUser: idUser },
            success: function(response){
                if(!response){
                    window.location.href= "/";
                }
            }
        });
    }
    function perdreUneVie() {
        var idUser = $('input[name="idUser"]').val();
        $.ajax({
            type: 'POST',
            url: '/perdreVie',
            data: { idUser: idUser },
            success: function (response) {
                if (response === "success") {
                    actualiserVies();
                    checkVie();
                }
            }
        });
    }
    function actualiserVies() {
        var idUser = $('input[name="idUser"]').val();
        $.get('/nombreDeVies', { idUser: idUser }, function (response) {
            for (var i = 1; i <= response; i++) {
                var img = document.getElementById('vie_' + i);
                img.src = '/img/Vie.png';
            }
            for (var j = response +1; j <= 5; j++) {
                var imgVide = document.getElementById('vie_' + j);
                imgVide.src = '/img/VieBrise.png';
            }
        });
    }
    $(document).ready(function() {
        $('#r1').on('change', function() {
            var pays = $('#r1').val();
            var continent = $('input[name="paysContinent"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifyContinent',
                data: { pays: pays ,continent: continent},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r1').addClass('correct');
                        $('#q2').css('visibility', 'visible');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r1').removeClass('correct');
                        $('#r2').removeClass('correct');
                        $('#r3').removeClass('correct');
                        $('#r4').removeClass('correct');
                        $('#r5').removeClass('correct');
                        $('#r6').removeClass('correct');
                        $('#q2').css('visibility', 'hidden');
                        $('#q3').css('visibility', 'hidden');
                        $('#q4').css('visibility', 'hidden');
                        $('#q5').css('visibility', 'hidden');
                        $('#q6').css('visibility', 'hidden');
                        $('#botn').css('display', 'none');
                        $('#r2').val(null);
                        $('#r3').val(null);
                        $('#r4').val(null);
                        $('#r5').val(null);
                        $('#r6').val(null);
                        perdreUneVie();
                    }
                }
            });
        });
        $('#r2').on('change', function() {
            var pays = $('#r2').val();
            var fine = $('input[name="paysFinE"]').val();
            var continent = $('input[name="paysContinent"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifyFinE',
                data: { pays: pays ,fine: fine ,continent: continent},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r2').addClass('correct');
                        $('#q3').css('visibility', 'visible');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r2').removeClass('correct');
                        $('#r3').removeClass('correct');
                        $('#r4').removeClass('correct');
                        $('#r5').removeClass('correct');
                        $('#r6').removeClass('correct');
                        $('#q3').css('visibility', 'hidden');
                        $('#q4').css('visibility', 'hidden');
                        $('#q5').css('visibility', 'hidden');
                        $('#q6').css('visibility', 'hidden');
                        $('#botn').css('display', 'none');
                        $('#r3').val(null);
                        $('#r4').val(null);
                        $('#r5').val(null);
                        $('#r6').val(null);
                        perdreUneVie();
                    }
                }
            });
        });
        $('#r3').on('change', function() {
            var pays = $('#r3').val();
            var fine = $('input[name="paysFinE"]').val();
            var continent = $('input[name="paysContinent"]').val();
            var littoral = $('input[name="paysLittoral"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifyLittoral',
                data: { pays: pays ,fine: fine ,continent: continent, littoral: littoral},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r3').addClass('correct');
                        $('#q4').css('visibility', 'visible');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r3').removeClass('correct');
                        $('#r4').removeClass('correct');
                        $('#r5').removeClass('correct');
                        $('#r6').removeClass('correct');
                        $('#q4').css('visibility', 'hidden');
                        $('#q5').css('visibility', 'hidden');
                        $('#q6').css('visibility', 'hidden');
                        $('#botn').css('display', 'none');
                        $('#r4').val(null);
                        $('#r5').val(null);
                        $('#r6').val(null);
                        perdreUneVie();
                    }
                }
            });
        });
        $('#r4').on('change', function() {
            var pays = $('#r4').val();
            var fine = $('input[name="paysFinE"]').val();
            var continent = $('input[name="paysContinent"]').val();
            var littoral = $('input[name="paysLittoral"]').val();
            var population = $('input[name="paysPopulationHuitMillions"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifyPopulation',
                data: { pays: pays ,fine: fine ,continent: continent, littoral: littoral, population: population},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r4').addClass('correct');
                        $('#q5').css('visibility', 'visible');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r4').removeClass('correct');
                        $('#r5').removeClass('correct');
                        $('#r6').removeClass('correct');
                        $('#q5').css('visibility', 'hidden');
                        $('#q6').css('visibility', 'hidden');
                        $('#botn').css('display', 'none');
                        $('#r5').val(null);
                        $('#r6').val(null);
                        perdreUneVie();
                    }
                }
            });
        });
        $('#r5').on('change', function() {
            var pays = $('#r5').val();
            var fine = $('input[name="paysFinE"]').val();
            var continent = $('input[name="paysContinent"]').val();
            var littoral = $('input[name="paysLittoral"]').val();
            var population = $('input[name="paysPopulationHuitMillions"]').val();
            var surface = $('input[name="paysSurfaceMillion"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifySurface',
                data: { pays: pays ,fine: fine ,continent: continent, littoral: littoral, population: population, surface: surface},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r5').addClass('correct');
                        $('#q6').css('visibility', 'visible');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r5').removeClass('correct');
                        $('#r6').removeClass('correct');
                        $('#q6').css('visibility', 'hidden');
                        $('#botn').css('display', 'none');
                        $('#r6').val(null);
                        perdreUneVie();
                    }
                }
            });
        });
        $('#r6').on('change', function() {
            var pays = $('#r6').val();
            var fine = $('input[name="paysFinE"]').val();
            var continent = $('input[name="paysContinent"]').val();
            var littoral = $('input[name="paysLittoral"]').val();
            var population = $('input[name="paysPopulationHuitMillions"]').val();
            var surface = $('input[name="paysSurfaceMillion"]').val();
            var unique = $('input[name="paysQuestionUnique"]').val();
            console.log("On vérifie...");
            $.ajax({
                type: 'POST',
                url: '/verifyUnique',
                data: { pays: pays ,fine: fine ,continent: continent, littoral: littoral, population: population, surface: surface, unique: unique},
                success: function(response) {
                    if (response) {
                        console.log("Bonne réponse");
                        $('#r6').addClass('correct');
                        $('#botn').css('display', 'block');
                    } else {
                        console.log("Mauvaise réponse");
                        $('#r6').removeClass('correct');
                        $('#botn').css('display', 'none');
                        perdreUneVie();
                    }
                }
            });
        });
    });
</script>

</html>