<!DOCTYPE html>
<html class="simon">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="app.css" />
        <!-- <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="icon" type="image/png" href="img/noun-enigma-1875558.png"/>
        <title>Enigma</title>
    </head>
    <body>
        <main>
            <div class="card" style="align-items: center;">
                <h1 id="0">Le jeu de Simon</h1>
                <img id="patern" th:src="${simon.patern}" style="display: none;" />
                <form id="simonForm" th:object="${simon}">
                    <input type="hidden" name="paternId" th:value="${simon.idpatern}"/>
                    <div class="row" style="margin-bottom: 2%;">
                        <div style="margin-right: -30%;">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases1" value="1">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases2" value="2">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases3" value="3">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases4" value="4">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases5" value="5">
                        </div>
                        <div style="margin-right: -30%;">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases6" value="6">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases7" value="7">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases8" value="8">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases9" value="9">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases10" value="10">
                        </div>
                        <div style="margin-right: -30%;">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases11" value="11">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases12" value="12">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases13" value="13">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases14" value="14">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases15" value="15">
                        </div>
                        <div style="margin-right: -30%;">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases16" value="16">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases17" value="17">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases18" value="18">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases19" value="19">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases20" value="20">
                        </div>
                        <div>
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases21" value="21">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases22" value="22">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases23" value="23">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases24" value="24">
                            <input style="box-shadow: none; height: 40px;" type="checkbox" id="cases25" value="25">
                        </div>
                    </div>
                    <button type="submit">Vérifier</button>
                </form>
                <div id="message"></div>
            </div>
            <div class="row" style="margin-top:5%;">
                <a th:href="@{/pays}"><button>Enigme précedente</button></a>
                <a th:href="@{/geoguesser}"><button id="btn" style="display: none;">Epreuve suivante</button></a>
            </div> 
        </main>
    </body>
    <script>
        var image = document.getElementById("patern");

        image.style.display = "block";

        setTimeout(function() {
            image.style.display = "none";
        }, 2000);

        $(document).ready(function() {
            $('#simonForm').submit(function (event) {
                event.preventDefault();
                var paternId = $('input[name="paternId"]').val();
                var inputSolution = '';

                $('input[type="checkbox"]:checked').each(function() {
                    inputSolution += $(this).val() + ' ';
                });
                inputSolution = inputSolution.trim();

                $.ajax({
                    type: 'POST',
                    url: '/checkSolutionPatern',
                    data: {inputSolution: inputSolution, paternId: paternId},
                    success: function (response) {
                        $('#message').text(response.message);
                        $('#btn').css('display', 'block');
                    }
                });
            });
        });
    </script>
</html>
